[Unit]
Description=Neon Hub Docker Compose Startup
Requires=docker.service
After=network-online.target docker.service
Wants=network-online.target

[Service]
Type=oneshot
RemainAfterExit=true
User=neon
Group=neon
WorkingDirectory=/home/neon/compose
ExecStart=/usr/bin/docker compose up -d
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target 