<?xml version="1.0" standalone='no'?>
<!DOCTYPE service-group SYSTEM "avahi-service.dtd">
<service-group>
  <name replace-wildcards="yes">Neon Hub on %h</name>
  <service>
    <type>_neon-hub._tcp</type>
    <port>8082</port>
    <txt-record>path=/api</txt-record>
    <txt-record>hostname={{ common_name }}</txt-record>
  </service>
</service-group>
