[Unit]
Description=Set Neon splash screen as user wallpaper
DefaultDependencies=no
After=local-fs.target

[Service]
Type=oneshot
ExecStart=/usr/bin/plasma-apply-wallpaperimage /opt/neon/splashscreen.png
RemainAfterExit=yes
StandardOutput=journal+console
StandardError=journal+console

[Install]
WantedBy=local-fs.target