[Unit]
Documentation=https://github.com/NeonGeckoCom/neon-nodes/blob/dev/README.md
Description=Neon Node Voice Client

[Service]
ExecStart=/home/neon/.venvs/neon-node/bin/python /home/neon/start-node.py
ExecReload=/usr/bin/kill -HUP $MAINPID
ExecStop=/usr/bin/kill -KILL $MAINPID
Restart=on-failure
RestartSec=5s
Environment="OVOS_CONFIG_BASE_FOLDER=neon"
Environment="OVOS_CONFIG_FILENAME=neon.yaml"
Environment="XDG_CONFIG_HOME=/home/neon/xdg/config"
Environment="XDG_RUNTIME_DIR=/run/user/{{ uid.stdout }}"

[Install]
WantedBy=multi-user.target
