[Desktop Entry]
Version=1.0
Type=Application
Name=Iris Websat (Neon Hub)
Comment=Access the Iris Websat service on Neon Hub
Exec=firefox-esr https://iris-websat.neon-hub.local
URL=https://iris-websat.neon-hub.local
Icon=/home/neon/.icons/neon.ico
Categories=Network;WebBrowser;X-NeonHub;
Terminal=false
StartupNotify=false 