[Desktop Entry]
Version=1.0
Type=Application
Name=Libretranslate (Neon Hub)
Comment=Access the Libretranslate service on Neon Hub
Exec=firefox-esr https://libretranslate.neon-hub.local
URL=https://libretranslate.neon-hub.local
Icon=/home/neon/.icons/neon.ico
Categories=Network;WebBrowser;X-NeonHub;
Terminal=false
StartupNotify=false 