[Desktop Entry]
Version=1.0
Type=Application
Name=Yacht (Neon Hub)
Comment=Access the Yacht service on Neon Hub
Exec=firefox-esr https://yacht.neon-hub.local
URL=https://yacht.neon-hub.local
Icon=/home/neon/.icons/neon.ico
Categories=Network;WebBrowser;X-NeonHub;
Terminal=false
StartupNotify=false 